<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>todo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TodoServlet</display-name>
    <servlet-name>TodoServlet</servlet-name>
    <servlet-class>servlet.TodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoServlet</servlet-name>
    <url-pattern>/TodoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoChange</display-name>
    <servlet-name>TodoChange</servlet-name>
    <servlet-class>servlet.TodoChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoChange</servlet-name>
    <url-pattern>/TodoChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoChangeServlet</display-name>
    <servlet-name>TodoChangeServlet</servlet-name>
    <servlet-class>servlet.TodoChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoChangeServlet</servlet-name>
    <url-pattern>/TodoChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>servlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>test.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReflectionServlet</display-name>
    <servlet-name>ReflectionServlet</servlet-name>
    <servlet-class>servlet.ReflectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReflectionServlet</servlet-name>
    <url-pattern>/ReflectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReflectionChangeServlet</display-name>
    <servlet-name>ReflectionChangeServlet</servlet-name>
    <servlet-class>servlet.ReflectionChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReflectionChangeServlet</servlet-name>
    <url-pattern>/ReflectionChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReflectionCreateServlet</display-name>
    <servlet-name>ReflectionCreateServlet</servlet-name>
    <servlet-class>servlet.ReflectionCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReflectionCreateServlet</servlet-name>
    <url-pattern>/ReflectionCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReflectionDayCheckServlet</display-name>
    <servlet-name>ReflectionDayCheckServlet</servlet-name>
    <servlet-class>servlet.ReflectionDayCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReflectionDayCheckServlet</servlet-name>
    <url-pattern>/ReflectionDayCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdditionDelete</display-name>
    <servlet-name>AdditionDelete</servlet-name>
    <servlet-class>servlet.AdditionDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionDelete</servlet-name>
    <url-pattern>/AdditionDelete</url-pattern>
  </servlet-mapping>
</web-app>