<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">  
<display-name>todo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>  
  <servlet>
    <description></description>
    <display-name>TodoServlet</display-name>
    <servlet-name>TodoServlet</servlet-name>
    <servlet-class>servlet.TodoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoServlet</servlet-name>
    <url-pattern>/TodoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoChange</display-name>
    <servlet-name>TodoChange</servlet-name>
    <servlet-class>servlet.TodoChange</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>TodoChange</servlet-name>
    <url-pattern>/TodoChange</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>TodoChangeServlet</display-name>
    <servlet-name>TodoChangeServlet</servlet-name>
    <servlet-class>servlet.TodoChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoChangeServlet</servlet-name>
    <url-pattern>/TodoChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>servlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
 <servlet>
    <description></description>
    <display-name>AdditionDelete</display-name>
    <servlet-name>AdditionDelete</servlet-name>
    <servlet-class>servlet.AdditionDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdditionDelete</servlet-name>
    <url-pattern>/AdditionDelete</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>test.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateServlet</display-name>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>Servlet.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/CreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeServlet</display-name>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>servlet.ChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassChangeServlet</display-name>
    <servlet-name>PassChangeServlet</servlet-name>
    <servlet-class>servlet.PassChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassChangeServlet</servlet-name>
    <url-pattern>/PassChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passChangeServlet</display-name>
    <servlet-name>passChangeServlet</servlet-name>
    <servlet-class>servlet.passChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passChangeServlet</servlet-name>
    <url-pattern>/passChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheck</display-name>
    <filter-name>LoginCheck</filter-name>
    <filter-class>filter.LoginCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheck</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping> </web-app>